
h3{
    font-family: 'Cookie' ;
}
h2{
    font-family: 'Pacifico', cursive;
}
h4{
    font-family: 'Kaushan Script' ;
}
p{
    font-family: 'Tenor Sans', sans-serif;
}
form {
    background-color:white;
  
margin: 90px auto;
width:500px;
padding:50px;
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.36);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.36);
}
.background{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}