
    .bg {
        
    background-image: url("../assets/background/back3.jpg");
    background-size: cover;
    background-position: center;

    }

    
    .bg2 {
        
        background-image: url("../assets/background/bac.jpg");
        background-size: cover;
      
    
        }

        .bg3 {
        
            background-image: url("../assets/background/bac.jpg");
            background-size: cover;
          
        
            }
.card{
    height:100%;
  
}
h2{
 padding:80px; 

}
        