.navbar { background-color: #ffffff;} 
.link { 
   
    font-size: 20px;
    font-family: 'Tenor Sans' ;
}
#logo {
    margin:-10px;
    margin-left:100px;
    width:100px;
    
}

#mainNavbarCollapse{
    float: left;
    padding-left:200px;
    padding-top:25px;
    
}
